<body class="email-verification-page">
    <div class="container">
        <h2 class="fw-bold text-primary"> Email Verification &#x2709;</h2>
        <p>
            A verification email has been sent to your email address. Please
            check your inbox and follow the instructions to verify your email.
        </p>
        <p>
            If you haven't received the email, you can <a class="resend-link" href="/resend-email">Resend
                Verification Email</a>.
        </p>
        <p class="verification-link">
        </p>
    </div>
</body>